
:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: #333;
    --select-bg: rgba(255, 255, 255, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', sans-serif;
}

h1 {
    font-size: 3.5em;
    font-family: 'Proxima Nova', serif;
    margin-bottom: -5px;
}

.h1_underline {
    border: 0;
    outline: 0;
    font: inherit;
    height: 0.25rem;
    width: 12.25rem;
    background: linear-gradient(35deg, green, lightgreen);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#percentage {
    position: absolute;
    bottom: 1em;
    right: 2.5em;
    font-size: 3.5em;
    font-family: 'Proxima Nova', serif;
    font-weight: bold;
}

.low-percentage {
    color: white; /* Bright red text */
    text-shadow: 0 0 10px #ff4c4c, 0 0 20px #ff4c4c, 0 0 30px #ff4c4c, 0 0 40px #ff4c4c; /* Red glow */
}

.medium-percentage {
    color: white; /* Bright orange text */
    text-shadow: 0 0 10px #ff9900, 0 0 20px #ff9900, 0 0 30px #ff9900, 0 0 40px #ff9900; /* Orange glow */
}

.high-percentage {
    color: white; /* Bright green text */
    text-shadow: 0 0 10px #28a745, 0 0 20px #28a745, 0 0 30px #28a745, 0 0 40px #28a745; /* Green glow */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(35deg, black, #111);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    width: 100%;
    height: 100vh;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* <select> styles */
select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    height: 1.5rem;
    width: 11rem;
    padding: 0rem 1rem 0rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.6em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 2em, var(--select-bg) 3em);
    color: white;
    font-size: 1.05em;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
}

#ingredient_fields select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    height: 1.5rem;
    width: 7.5rem;
    padding: 0rem 1rem 0rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.6em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 2em, var(--select-bg) 3em);
    color: white;
    font-size: 1.05em;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
}

/* <option> colors */
option {
    color: white;
    background-color: black;
    }

label {
    color: white;
    padding: 1.05em;
    font-size: 1.05em;
}

p {
    color: white;
}

div {
    color: white;
    text-align: center;
}

button {
    /* background-color: green;
    color: white; */
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    height: 2.25rem;
    width: 8.25rem;
    padding: 0rem 1rem 0rem 1rem;
    background: linear-gradient(35deg, green, lightgreen);
    color: white;
    font-size: 1.5em;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
  

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(35deg, black, #333);
    padding: 0px;
}

.subcontainer {
    display: flex;
}

.column {
    flex: 1;
    padding: 0px;
    width: 50%;
}

.column3 {
    flex: 1;
    padding: 0px;
    width: 33%;
}

.icon_button {
    display: inline-block;
    padding: 0.2rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    border-radius: 0.25em;
    text-align: center;
    height: 2.25rem;
    width: 2.25rem;
    overflow: hidden;
    vertical-align: middle;
}

.button_div {
    vertical-align: middle;
    display: flex;
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
}


#imageUpload {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}

/* Responsiveness */

 
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .container {
        width: 400px;
        height: 720px;
        /* background-color: var(--white2); */
        border-radius: 20px;
        /* box-shadow: 10px 10px 10px grey; */
        padding: 0%;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}
